<%- include('partials/header') %>   
    <link rel="stylesheet" href="css/style.css">
    <title>Final Project</title>
</head>
<body>

<%- include('partials/footer') %>
<link rel="stylesheet" href="css/admin.css">
<title>Final Project</title>
</head>
<body>
<%- include('partials/navbar') %>

<%- include('partials/footer') %>