<%- include('partials/header') %>
    <title>Sign in</title>
</head>
<body>
    <%- include('partials/navbar') %>

<div class="container">
    <div id="registration">
        <h1>Register</h1>
        <form action="/login" method="POST">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" placeholder="Enter your email">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Enter your password">
            </div>
        <button type="submit" class="btn btn-primary">Log in</button>
        </form>
    </div>
</div>

<%- include('partials/footer') %>