.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas: 
    "personal-info education"
    "technical soft"
    ;
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
}

main {
    grid-area: personal-info;
    padding: var(--main-padding);
}

#education {
    grid-area: education;
    padding: var(--main-padding);
}

#education table {
    margin: 0 auto;
    padding: var(--main-padding);
}

#technical {
    grid-area: technical;
    padding: var(--main-padding);
}

.header-title {
    font-size: 3rem;
}

#soft {
    grid-area: soft;
    padding: var(--main-padding);
}

@media (max-width: 991px) {
    .container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: 
        "personal-info"
        "education"
        "technical"
        "soft"
        ;
    }
}