:root {
    --main-padding: 0.4rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


footer {
    background-color: #212529;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    padding: 0.5rem;
}

footer ul {
    list-style: none;
    margin-bottom: 1rem;
}

footer ul li {
    display: inline-block;
    margin: 1rem;
}

footer ul a {
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
}